body{
	background-color:gray;
}
table{
	border:2px solid;
	/*align:center;*/
	margin-left:400px;
	height:300px;
	width:30%;
}
td{
	border:1px solid;
	/*padding:3px 6px 3px 6px;*/
	height:10%;
	width:5%;
}
